$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$transition-time: .25s;

@keyframes breathe {
    0% {
        color: white;
        text-shadow: 0;
    }

    50% {
        transform: scale(.975);
        color: silver;
        text-shadow: 1px 2px 10px black;
    }

    100% {
        color: white;
        text-shadow: 0;
    }
}

body, html {
    padding: 0;
    margin: 0;
    font-family: $font;
    width: 100%;
    height: 100%;
    background: #222;
}

section#image-form {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-basis: 100%;
}

.info {
    text-align: center;
    color: silver;
    font-size: 11px;
    margin-bottom: 5px;
    flex-basis: 100%;
}

h1#page-title {
    font-size: 32px;
    animation: breathe 3s ease 0s infinite forwards;
    flex-basis: 100%;
    color: white;
    text-align: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    flex-basis: 100%;

    form {
        max-width: 300px;
    }
}

.form-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    label {
        text-align: center;
        color: white;
        font-size: 20px;
        flex-basis: 100%;
        padding: 5px 0;
        
        span {
            font-size: .75em;
        }
    }
    input[type=number] {
        height: 25px;
        font-size: 18px;
        font-family: $font;
        border: none;
        background: #999;
        transition: $transition-time;
    }

    input[type=submit] {
        height: 30px;
        font-family: $font;
        flex-basis: 50%;
    }
}

.form-wrapper {
    align-items: flex-end;
    .form-input {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1;
        input {
            background: none;
            border: none;
            border: 2px groove silver;
            width: 100%;
            border-radius: 5px;
            padding: 4px;
            max-width: 100px;
            color: white;
            text-align: center;

            &:focus {
                outline: 0;
                border: 2px groove white;
            }
        }
        &:first-child {
            margin-right: 10px;
        }
        &:last-child {
            margin-left: 10px;
        }
    }
}

.results {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 10px;

    .log {
        margin-bottom: 25px;
    }
}

.file-hidden {
    display: none;
}

button {
    cursor: pointer;
    border-radius: 3px;
    max-width: 180px;
    width: 100%;
    transition: $transition-time ease;
}

button#upload-image {
    margin-bottom: 15px;
    background: white;
    color: color;
    font-family: $font;
    border: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 15px;

    &:hover {
        background: aqua;
    }
}

button#submit-form {
    margin-top: 35px;
    font-size: 20px;
    color: black;
    background: white;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    transition: $transition-time;

    &:hover {
        background: green;
        color: white;
    }
}

span#filename {
    color: red;
    font-size: 16px;
    flex-basis: 100%;
    text-align: center;
}

.log {
    flex-basis: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    &.success {
        color: green;
    }
    &.error {
        color: red;
    }
}